<h3>Add a Book</h3>

<h4>Search for a book with the title, author, or ISBN (recommended).</h4>
<p>Powered by Goodreads</p>
<%= form_tag({controller: "books", action: 'goodreads_search'}, method: "get", id: 'goodreads-search-form') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search Books' %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<p>Or add a book manually</p>

<%= simple_form_for [@user, @book] do |f| %>
  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
    <%= f.simple_fields_for :authors, @book.authors.build do |authors| %>
      <%= authors.input :name, label: "Author", required: false %>
    <% end %>
    <%= f.input :publication_year, required: false, label: "Original Publication Year" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Book" %>
  </div>
<% end %>
