<!DOCTYPE html>
<html>
<head>
  <title>LordsOfBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= notice if notice %>
  <%= alert if alert %>

  <ol id="nav-bar">
    <% if user_signed_in? %>
      <li>Logged in as <%= current_user.email %>.</li>
      <li><%= link_to 'Recent Summaries', root_path %> |</li>
      <li><%= link_to 'Your Books', user_books_path(current_user) %> |</li>
      <li><%= link_to 'Edit profile', edit_user_registration_path %> |</li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path%> |</li>
      <li><%= link_to 'Login', new_user_session_path%></li>
    <% end %>
  </ol>

  <%= yield %>

</body>
</html>
