<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Art of Reading" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= notice if notice %>
  <%= alert if alert %>

  <ul id="nav-bar">
    <% if user_signed_in? %>
      <li>Logged in as <%= current_user.email %>.</li>
      <li><%= link_to 'Recent Summaries', root_path %> |</li>
      <li><%= link_to 'Your Books', user_books_path(current_user) %> |</li>
      <li><%= link_to 'Add a Book', new_user_book_path(current_user) %> |</li>
      <li><%= link_to 'Edit profile', edit_user_registration_path %> |</li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path%> |</li>
      <li><%= link_to 'Login', new_user_session_path%></li>
    <% end %>
    <li class="search">
      <%= form_tag(root_path, method: "get", id: 'search-form') do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search Summaries' %>
        <%= radio_button_tag(:search_type, "title", checked = true) %>
        <%= label_tag(:search_type_title, "Title") %>
        <%= radio_button_tag(:search_type, "author") %>
        <%= label_tag(:search_type_author, "Author") %>
        <%= radio_button_tag(:search_type, 'isbn') %>
        <%= label_tag(:search_type_isbn, "ISBN") %>
        <%= submit_tag "Search", name: nil %></li>
      <% end %>
    </li>
  </ul>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
